/* Allgemeine Einstellungen */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d212e;
    color: #93b7c6;
}

.link-box-container {
    display: flex; /* Flexbox aktivieren */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
    flex-direction: column; /* Elemente untereinander anordnen */
    height: 90vh; /* Höhe des Viewports */
}

header {
    text-align: center;
    padding: 20px;
    background-color: #93b7c6;
    color: #0d212e;
}

header img {
    border-radius: 50%;
    margin-top: 10px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #0d212e;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: #93b7c6;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #65d5fa;
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    color: #93b7c6;
    border-bottom: 2px solid #65d5fa;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

section h2.centered {
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #93b7c6;
    color: #0d212e;
}

a {
    color: #65d5fa;
}

a.linkNoUl {
    text-decoration: none;
}

a:hover {
    color: #93b7c6;
}

/* Verlinkungs Boxen*/
.link-box {
    display: flex;
    align-items: center;
    justify-content: center; /* Horizontale Zentrierung */
    background-color: #93b7c6;
    color: #0d212e;
    padding: 10px 15px;
    border-radius: 15px;
    margin: 10px 0;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 250px; /* Feste Breite */
    height: 60px; /* Feste Höhe */
    box-sizing: border-box;
}

.link-box:hover {
    background-color: #65d5fa;
    color: #0d212e;
    transform: translateY(-5px);
}

.link-box img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.link-box span {
    font-size: 1rem;
    font-weight: bold;
}

.img404 {
    width: 300px;
    height: 300px;
    margin-right: 10px;
    border-radius: 15%;
}