/* Allgemeine Einstellungen */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
body {
  height: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0d212e;
  color: #93b7c6;
  overflow-y: auto; /* Ermöglicht Scrollen */
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #93b7c6;
  color: #0d212e;
  height: auto; /* Keine fixe Höhe */
  margin-bottom: 20px; /* Abstand zu nachfolgenden Elementen */
}

header img {
  border-radius: 50%;
  margin-top: 10px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #0d212e;
  padding: 10px 0;
}

nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0d212e;
  z-index: 1000; /* Ãber allen anderen Elementen */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

nav a {
  text-decoration: none;
  color: #93b7c6;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: #65d5fa;
  text-decoration: underline;
}

main {
  padding: 20px;
  max-width: 1000px; /* Verwende max-width für bessere Skalierbarkeit */
  margin: 0 auto; /* Zentriert das Element horizontal */
  flex: 1;
  display: flex; /* Aktiviert Flexbox */
  flex-direction: column; /* Optional, falls die Inhalte vertikal angeordnet werden sollen */
  align-items: center; /* Zentriert Inhalte horizontal innerhalb des Flex-Containers */
}

section {
  margin-bottom: 40px;
}

section h2 {
  color: #93b7c6;
  border-bottom: 2px solid #65d5fa;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.centered {
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #93b7c6;
  color: #0d212e;
}

a {
  color: #65d5fa;
}

a.linkNoUl {
  text-decoration: none;
}

.highlight {
  color: #65d5fa; /* Bleibt in der Standardfarbe */
  text-decoration: none; /* Entfernt die Unterstreichung */
  pointer-events: none; /* Deaktiviert Hover-Effekte und Klicks */
}

a:hover {
  color: #93b7c6;
}

/*Container, der die VB enthält*/
.link-box-container {
  display: flex; /* Flexbox aktivieren */
  justify-content: center; /* Horizontal zentrieren */
  align-items: center; /*vertikal center*/
  flex-direction: column; /* Elemente untereinander anordnen */
  margin-top: 20px; /* Abstand unterhalb des Headers */
  padding-top: 20px; /* Zusätzlicher Puffer */
  height: auto; /* Keine feste Höhe */
}

/* Verlinkungs Boxen */
.link-box {
  display: flex;
  justify-content: center; /* Zentriert den Inhalt horizontal in der Box */
  align-items: center; /* Zentriert den Inhalt vertikal in der Box */
  flex-direction: row; /* Stellt sicher, dass die Icons und Text nebeneinander sind */
  background-color: #93b7c6;
  color: #0d212e;
  padding: 10px 15px;
  border-radius: 15px;
  margin: 10px 0;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 250px; /* Feste Breite der Boxen */
  height: 60px; /* Feste Höhe der Boxen */
  box-sizing: border-box;
}

.link-box:hover {
  background-color: #65d5fa;
  color: #0d212e;
  transform: translateY(-5px);
}

.link-box img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.link-box span {
  font-size: 1rem;
  font-weight: bold;
}

.img404 {
  width: 300px;
  height: 300px;
  margin-right: 10px;
  border-radius: 15%;
}

.highlight {
  color: #65d5fa;
}

.inline {
  display: inline;
}

/* Responsive Anpassungen für kleine Displays */
@media (max-width: 768px) {
  .link-box-container h2 {
    font-size: 1.2rem; /* Verkleinere die Schriftgröße */
    text-align: center; /* Zentriere den Text */
    padding: 10px; /* Zusätzlicher Abstand für bessere Lesbarkeit */
  }
}

.noscript-warning {
  background-color: #ffcc00; /* Gelbe Warnfarbe */
  color: #000; /* Schwarzer Text */
  text-align: center;
  padding: 15px;
  border: 2px solid #e6b800;
  font-size: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.noscript-warning p {
  margin: 0;
}

input[type="search"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #65d5fa;
  background-color: #0d212e;
  color: #93b7c6;
}

input[type="search"]::placeholder {
  color: #93b7c6;
}

input[type="search"]:focus {
  outline: none;
  border-color: #65d5fa;
  box-shadow: 0 0 5px rgba(101, 213, 250, 0.5);
}

button[aria-label="Search"] {
  background-color: #65d5fa;
  color: #0d212e;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button[aria-label="Search"]:hover {
  background-color: #93b7c6;
  transform: translateY(-3px);
}

button[aria-label="Search"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(101, 213, 250, 0.5);
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.box {
  background-color: #93b7c6;
  color: #0d212e;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.box:hover {
  background-color: #65d5fa;
  transform: translateY(-5px);
}

.box img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 12%;
}

.box h3,
.box p,
.box a {
  color: #0d212e;
  text-decoration: none;
}

.iframe {
  width: 600px;
  height: 500px;
  border: none;
  border-radius: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.timeline-item {
  margin: 20px 0;
  position: relative;
}

.timeline-content {
  width: 570px;
  background: #2c3e50;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.timeline-content h3 {
  margin: 0 0 0px;
  font-size: 1.2em;
  color: #65d5fa;
}

.timeline-content p {
  margin: 0;
  font-size: 1em;
  line-height: 1.6;
}

.hidden {
  display: none;
}

.button {
  background-color: #65d5fa;
  color: #0d212e;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

@media screen and (max-width: 768px) {
  .iframe {
    width: 100%;
    height: 300px;
  }
  .timeline-content {
    width: 100%;
    background: #2c3e50;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
